.left-menu{
    padding-top: 10px;
    background-color: transparent;
    border:0px;
    border-right: 1px solid black;
    height: 100vh;
}
.button{
    margin-top:5px;
    background-color:transparent;
    outline: none;
    color:#929292;
    border:0px;
}
.button:hover{
    background-color: #424242;
}
.icon{
    float: left;
}
.list{
    background-color: transparent;
    color: #929292;
    margin-top:25px;
    max-height: 40vh !important;
    overflow-y: auto;
}
.reports{
    background-color: transparent !important;
    color:#929292;
    margin-top: 5px;
    max-height: 50vh;
    overflow-y: auto;
}

ul li{
    float: left;
    list-style: none;
}
h4{
    color:#1F7FBF;
}
.solved{
     float: right !important;
    
}